<div>
  <h1>
    Your feedback for Order <%= @order.id %>
  </h1>
  <div>
    <% @order.order_items.each do |order_item| -%>
      <div>
        <%= order_item.meal_name %>
        <input type="radio" name="feedback-#{order_item.id}" />
        <input type="radio" name="feedback-#{order_item.id}" />
        <input type="radio" name="feedback-#{order_item.id}" />
        <input type="radio" name="feedback-#{order_item.id}" />
        <input type="radio" name="feedback-#{order_item.id}" />
      </div>
    <% end -%>

    <input type="submit" value="Submit" />
  </div>
</div>
