<!DOCTYPE html>
<html>
<head>
  <title>Feedback App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #C63D0F;
    font-family: 'American Typewriter';
    color: #3B3738;">

<%= yield %>

</body>
</html>
